.btn {
  height: 32px;
  padding: 6px 16px;
  color: #ff9122;
  border-radius: 46px;
  border: 1px solid #ff9122;
  background-color: #fff;
  cursor: pointer;
  transition: all ease 0.3s;
  &--lg {
    height: 51px;
    padding: 12px 48px;
    font-weight: 700;
    font-size: 18px;
  }
  &:hover {
    color: #fff;
    background-color: #ff9122;
  }
  &--primary {
    color: #fff;
    background-color: #ff9122;
    border-color: #ff9122;
    &:hover {
      color: #ff9122;
      background-color: #fff;
    }
  }
}
